label {
    position: relative;
}

label .new_checkbox {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 2px;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}

label .new_checkbox:hover {
    border-color: #1890ff;
}

.my_checkbox {
    opacity: 0;
}

.my_checkbox:checked+span {
    border-color: #1890ff;
    background-color: #1890ff;
}

/*关联checkbox的值*/
.my_checkbox:checked+span::before {
    content: "";
    display: block;
    width: 6px;
    height: 10px;
    border-bottom: 2px solid #fff;
    background-color: #1890ff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 4.5px;
    box-sizing: border-box;
}